.bg-light {
	background-color: #539ace !important;
}

.pointer {
	cursor: pointer;
}

.errorMessage {
	color: red !important;
}

.successMessage {
	color: green !important;
}

.search-box {
	top: 40%;
	left: 47%;
	position: absolute;
	transform: translate(-50%, -50%);
}

.refreshSearch {
	top: 50%;
	left: 20%;
	position: absolute;
	transform: translate(0%, 15%);
}

.result-box {
	max-width: 80%;
	position: absolute;
	top: 60%;
	left: 10%;
	/*   background-color: white;		*/
}

.cardRow {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 16px;
}

.fa-angle-right {
	color: #fb8500;
	font-size: 60px;
	transition: 0.5s;
}

.cardHover:hover {
	background-color: #f5dcec;
	transition: 0.8s;
}

.cardHover:hover .card-title {
	font-size: x-large;
}

.cardHover:hover .fa-angle-right {
	font-size: 70px;
	color: #ad2400;
}

.cardHover:hover {
	cursor: pointer;
}

.passwordIcon {
	float: right;
	margin-right: 6px;
	margin-top: -26px;
	position: relative;
	z-index: 2;
}